*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background-color: #dadada;
  font-size: 10px;
}

.container {
  margin: 20px auto;
  width: 90%;
}


/* code for one-column design */


div {
  float: left;
  margin: 1% 0;
  width: 99%;
  height: 210px;
  padding: 20px 25px;
}

  h1 {
    font-size: 2em;
}

.preview.baku {
  background: url("../images/baku.jpg") no-repeat;
  background-size: 100%;
}
.preview.london {
  background: url("../images/london.png") no-repeat;
  background-size: 100%;
}
.preview.madrid {
  background: url("../images/madrid.jpg") no-repeat;
  background-size: 100%;
}
.preview.rome {
  background: url("../images/rome.jpg") no-repeat;
  background-size: 100%;
}


/* code for two-column design (for tablets +) */


@media screen and (min-width: 575px) and (max-width: 990px) {
   div {
    margin: 1%;
    width: 48%;
    height: 150px;
    padding: 20px 25px;
  }

  h1 {
    font-size: 2.5em;
  }

.preview.baku {
  background: url("../images/baku.jpg") no-repeat;
  background-size: 100%;
}
.preview.london {
  background: url("../images/london.png") no-repeat;
  background-size: 100%;
}
.preview.madrid {
  background: url("../images/madrid.jpg") no-repeat;
  background-size: 100%;
}
.preview.rome {
  background: url("../images/rome.jpg") no-repeat;
  background-size: 100%;
}
}


/* code for four-column design (for laptops +) */


@media screen and (min-width: 991px) {
   div {
    margin: 1%;
    width: 23%;
    height: 130px;
  }

  h1 {
    font-size: 3em;
  }

.preview.baku {
  background: url("../images/baku.jpg") no-repeat;
  background-size: 100%;
  }
  .preview.london {
    background: url("../images/london.png") no-repeat;
    background-size: 100%;
  }
  .preview.madrid {
    background: url("../images/madrid.jpg") no-repeat;
    background-size: 110%;
  }
  .preview.rome {
    background: url("../images/rome.jpg") no-repeat;
    background-size: 100%;
  }
}
